
# Node.js
node_modules/

# Ruby
*.gem
*.rbc
.bundle
.config
.yardoc
_yardoc
coverage/
doc/
pkg/
tmp/
log/
.byebug_history
.pry_history

# Bundler
vendor/bundle

# RSpec
.rspec_status

# OS junk
.DS_Store
Thumbs.db

# Editor-specific
*.swp
*~
.idea/
.vscode/
